<!--main-->
<div class="col">
    <!--main header-->
        <div class="bg-light lter b-b wrapper-md">
            <h2 class="m-n font-thin h3">最新文章列表</h2>
        </div>
    <!--/ main header-->

    <!--main-->
    <div class="wrapper-md" ng-controller="articleCtrl">
        <!--<div class="row">-->
            <!--<div class="col-sm-13">-->
                <div class="blog-post">
                    <!--lists-->
                    <div class="panel" ng-show="showLists" ng-repeat="x in articleList">
                        <div class="wrapper-lg">
                            <h2 class="m-t-none"><a href ng-click="clickUrl(x.url)">{{x.title}}</a></h2>
                            <div>
                                <p>{{x.preContent}}</p>
                            </div>
                            <div class="line line-lg b-b b-light"></div>
                            <div class="text-muted">
                                <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm">{{x.author}}</a>
                                <i class="fa fa-clock-o text-muted"></i> {{x.date}}
                                <a href class="m-l-sm m-r-sm"><i class="fa fa-comment-o text-muted"></i> 2 comments </a>
                                <i class="fa fa-tags text-muted"></i> <span class="m-r-sm" ng-repeat="y in x.tags">{{y}}</span>
                            </div>
                        </div>
                    </div>
                    <!--/ lists-->

                </div>
            <!--</div>-->
        <!--</div>-->

        <!-- tasks -->
        <div class="panel wrapper" ng-show="showArticle">
            <div data-ng-include="hello"></div>
        </div>
        <!-- / tasks -->
        <!--/ main-->
    </div>
</div>
<!--/main-->


