<!--main-->
<div class="col">
    <!--main header-->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">

            </div>
        </div>
    <!--/ main header-->

    <!--main-->
    <div class="wrapper-md" ng-controller="articleCtrl">
        <!--lists-->
        <div class="panel wrapper-md" ng-show="showLists">
            <h3 class="text-center">
                最新文章列表
            </h3>
            <p ng-repeat="x in articleList"><a  ng-click="clickUrl(x.content)">{{x.title}}</a></p>
        </div>
        <!--/ lists-->

        <!-- tasks -->
        <div class="panel wrapper" ng-show="showArticle">
            <div data-ng-include="hello"></div>
        </div>
        <!-- / tasks -->
        <!--/ main-->
    </div>
</div>
<!--/main-->


